/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#wanaham_geoip_country_container{
    display:table;
}
#wanaham_geoip_country_container > .wanaham_geoip_country{
    float:left;
    width:350px;
    margin:10px;
}
#wanaham_geoip_country_container > .wanaham_geoip_country input{
    margin-right: 5px;
}
#wanaham_geoip_country_container > .wanaham_geoip_country input:hover{
    background-color: #DDD;
}